 
 .main-menu{
  top: -0.4rem;
 }
 .brand-margin-left{
    margin: 0 0.5rem 0 0;
 }

 .navbar-dark .navbar-brand {
    color: #ffffffd5;
    margin-top: 0.7rem;
  }

  .bg-dark {
    background-color: darkcyan !important;
  }

  
  .nav-item{
    padding: 0 0.5rem;
  }

  .nav-item:hover, 
  .nav-item:focus{
    background-color: rgb(1, 63, 63);
    cursor: pointer;
    transform: scale(1.03);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }

  .collapse{
    margin-top: 0.7rem;
  }

  body{
    background: rgb(195, 228, 228);
    color: rgb(63, 19, 87);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



  

  




